{% extends "base.html" %}



{% block content %}
<head>
  <title>Библиотека</title>
</head>
<body>
<main class="main-wrap">
<section class="content">
  <div class="content-wrapper">
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/tom_I.png" alt="" title="Сочинения, том 1, 2002">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Собрание сочинений, Том I</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2002.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/tom_II.png" alt="" title="Сочинения, том 2, 2002">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Собрание сочинений, Том II</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2002.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/tom_III.png" alt="" title="Сочинения, том 3, 2008">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Собрание сочинений, Том III</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2008.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/tom_IV.png" alt="" title="Сочинения, том 4, 2008">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Собрание сочинений, Том IV</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2008.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/tom_V.png" alt="" title="Сочинения, том 5, 2013">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Собрание сочинений, Том  V</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2013.</p>
    </div>
    </a>
    <a href="/printed_edition/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/zelted.png" alt="" title="Стихи из 'Зеленой тетради', 2018 ">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Стихи из "Зеленой тетради"</h2>
        <p class="collection_bibliography">СПб.: Порядок слов, 2018.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/samizdat.png" alt="" title="Войско. Оркестр. Парк. Корабль. Четыре машинописных сборника, 2018">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Войско, Оркестр, Парк, Корабль. Четыре машинописных сборника</h2>
        <p class="collection_bibliography">М.: Common place, 2018.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/pereletnayaptiza.png" alt="" title="Перелетная птица (последние стихи), 2011">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Перелетная птица (последние стихи)</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2011.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
    <img class="img_books books" src="../static/img/dAnnunzio.png" alt="" title="Габриэле Д’Аннунцио. Крылатый циклоп, 2010">
    <div class="box-element__text">
      <div class="collection__author"><h3>Елена Шварц</h3></div>
      <h2 class="collection__title">Габриэле Д’Аннунцио. Крылатый циклоп</h2>
      <p class="collection_bibliography">СПб.: «Вита Нова», 2010.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/vino7goda.png" alt="" title="Вино седьмого года, 2007">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Вино седьмого года</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2007.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/trost_skoropisca.png" alt="" title="Трость скорописца, 2004">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Трость скорописца</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2004.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/vidimaya_storona_zizni.png" alt="" title="Видимая сторона жизни, 2003">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Видимая сторона жизни</h2>
        <p class="collection_bibliography">СПб.: Лимбус, 2003.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/dikopis.png" alt="" title="Дикопись последнего времени, 2001">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Дикопись последнего времени</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 2001.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/stihipoemy.png" alt="" title="Стихотворения и поэмы, 1999">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Стихотворения и поэмы</h2>
        <p class="collection_bibliography">СПб.: ИНАПРЕСС, 1999.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/trost_skoropisca.png" alt="" title="Соло на раскаленной трубе, 1998">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Соло на раскаленной трубе</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 1998.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/solonarasktrube.png" alt="" title="Западно-восточный ветер. Новые стихотворения, 1997">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Западно-восточный ветер. Новые стихотворения</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 1997.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/opredelenie_v_durnuyu_pogodu.png" alt="" title="Определение в дурную погоду, 1997">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Определение в дурную погоду</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 1997.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/mundus.png" alt="" title="Mundus Imaginalis: Книга ответвлений, 1996">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Mundus Imaginalis: Книга ответвлений</h2>
        <p class="collection_bibliography">СПб.: Эзро, 1996.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/pesnya_ptitsy_na_dne_morskom.png" alt="" title="Песня птицы на дне морском, 1995">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Песня птицы на дне морском</h2>
        <p class="collection_bibliography">СПб.: Пушкинский фонд, 1995.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/lozianochy.png" alt="" title="Лоция ночи. Книга поэм, 1993">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Лоция ночи. Книга поэм</h2>
        <p class="collection_bibliography">СПб.: Советский писатель, Санкт-Петербургское отделение, 1993.</p>
    </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/stihi.90.png" alt="" title="Стихи 1990">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Стихи</h2>
        <p class="collection_bibliography">Л.: Ассоциация «Новая литература», 1990.</p>
      </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/storonysveta.png" alt="" title="Стороны света, 1989">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Стороны света</h2>
        <p class="collection_bibliography">Л.: Советский писатель, Ленинградское отделение, 1989.</p>
      </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/shvarts_trudy_i_dni_lavinii.png" alt="" title="Труды и дни Лавинии, монахини из ордена Обрезания Сердца, 1987">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Труды и дни Лавинии, монахини из ордена Обрезания Сердца</h2>
        <p class="collection_bibliography">Ann Arbor: Ardis Publishers, 1987.</p>
      </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/stihi87.png" alt="" title="Стихи, 1987">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Стихи</h2>
        <p class="collection_bibliography">Л. Париж-Мюнхен: Веседа, 1987.</p>
      </div>
    </a>
    <a href="/other/" class ="lib box-element__library">
      <img class="img_books books" src="../static/img/tanzdavid.png" alt="" title="Танцующий Давид, 1985">
      <div class="box-element__text">
        <div class="collection__author"><h3>Елена Шварц</h3></div>
        <h2 class="collection__title">Танцующий Давид</h2>
        <p class="collection_bibliography">N.Y.: Russica Publishers, 1985.</p>
      </div>
    </a>



  </div>


  </section> 
  </main>
</body>
{% endblock %}