{% extends "base.html" %}



{% block content %}
<head>
  <title>Библиотека</title>
</head>
<body>

<div class="container">
    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>

      <div>
        <a class ="lib" href="/other/">
            <img class="img_books books" src="../static/img/tom_I.png" alt="" title="Сочинения, том 1, 2002"></a>
        </div>

        <div>
        <a class ="lib" href="/other/">
            <img class="img_books books" src="../static/img/tom_II.png" alt="" title="Сочинения, том 2, 2002"></a>
        </div>

        <div>
        <a class ="lib" href="/other/">
            <img class="img_books books" src="../static/img/tom_III.png" alt="" title="Сочинения, том 3, 2008 "></a>
        </div>

        <div>
        <a class ="lib" href="/other/">
            <img class="img_books books" src="../static/img/tom_IV.png" alt="" title="Сочинения, том 4, 2008"></a>
        </div>
    </div>

    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>

        <div>
        <a class ="lib" href="/other/">
            <img class="img_books books" src="../static/img/tom_V.png" alt="" title="Сочинения, том 5, 2008"></a>
        </div>

    	<div>
    		<a class ="lib" href="/printed_edition/">
            <img class="img_books books" src="../static/img/zelted.png" alt="" title="Стихи из 'Зеленой тетради', 2018 "></a>
       	</div>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/pereletnayaptiza.png" alt="" title="Перелетная птица (последние стихи), 2011"></a>
       	</div>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/vino7goda.png" alt="" title="Вино седьмого года, 2007"></a>
       	</div>  
    </div>

    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>    
        
        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/trost_skoropisca.png" alt="" title="Трость скорописца, 2004"></a>
       	</div>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/dikopis.png" alt="" title="Дикопись последнего времени, 2001"></a>
       	</div>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/stihipoemy.png" alt="" title="Стихотворения и поэмы, 1999"></a>
       	</div>  
        
        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/solonarasktrube.png" alt="" title="Соло на раскаленной трубе, 1998"></a>
       	</div>
    </div>

    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/z-vveter.png" alt="" title="Западно-восточный ветер. Новые стихотворения, 1997"></a>
       	</div>

     

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/mundus.png" alt="" title="Mundus Imaginalis: Книга ответвлений, 1996"></a>
       	</div>  


        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/pesnya_ptitsy_na_dne_morskom.png" alt="" title="Песня птицы на дне морском, 1995"></a>
       	</div>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/lozianochy.png" alt="" title="Лоция ночи. Книга поэм, 1993"></a>
       	</div>

    </div>

    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/stihi.90.png" alt="" title="Стихи, 1990"></a>
       	</div>  

   

       	<div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/storonysveta.png" alt="" title="Стороны света, 1989"></a>
       	</div>  

       	<div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/shvarts_trudy_i_dni_lavinii.png" alt="" title="Труды и дни Лавинии, монахини из ордена Обрезания Сердца, 1987"></a>
       	</div>  

       	<div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/stihi87.png" alt="" title="Стихи, 1987"></a>
       	</div>  

    </div>

    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>

       	<div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/tanzdavid.png" alt="" title="Танцующий Давид, 1985"></a>
       	</div> 

         <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/samizdat.png" alt="" title="Войско. Оркестр. Парк. Корабль. Четыре машинописных сборника, 2018"></a>
        </div> 

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/opredelenie_v_durnuyu_pogodu.png" alt="" title="Определение в дурную погоду, 1997"></a>
        </div> 

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/vidimaya_storona_zizni.png" alt="" title="Видимая сторона жизни, 2003"></a>
        </div> 

    </div>

    <div class="row" style='margin-left: 0px;
    margin-right: 0px;'>

        <div>
          <a class ="lib" href="/other/">
          <img class="img_books books" src="../static/img/dAnnunzio.png" alt=""="" title="Габриэле Д’Аннунцио. Крылатый циклоп, 2010"></a>
        </div> 

    </div>


        

    </div>
</div> 
</body>
{% endblock %}