{% extends "base.html" %}

{% block title %}{{ edition.title }} — Елена Шварц{% endblock %}

{% block content %}
<div class="edition-page">
  <h1 class="page-title">{{ edition.title }}</h1>

  {% if edition.intro %}
  <section class="prose">
    <h2 class="section-title">От составителей</h2>

    <p>Основой для этой книги послужила «зеленая тетрадь» – машинописный сборник из архива Е.А. Шварц, составленный поэтом в феврале 1973 года (дата стоит на титуле). Неопубликованные стихи из машинописного сборника были дополнены другими неизданными текстами середины 1960-1970-х гг. из архива поэта.</p>
    <p>Стихотворения публикуются в хронологическом порядке. Датировки некоторых стихов из «зеленой тетради» уточнены по отдельным машинописным копиям. Однако многие тексты остались недатированными, поскольку другие источники этих стихотворений, кроме машинописного сборника, не сохранились. В этом случае достоверно можно говорить только о верхней границе датировки – февраль 1973 года.</p>
    <p>Большинство стихотворений воспроизводится по машинописному сборнику. От этого принципа мы отходили только в тех случаях, когда находилась машинопись, сделанная позже 1973 года. В одном случае мы восстановили наиболее полную раннюю редакцию, чтобы не упустить еще одно неопубликованное стихотворение: в состав «зеленой тетради» был включен только первый текст из «Двух стихотворений об Ангеле-Хранителе».</p>
    <p>Пунктуация стихотворений приведена к современной норме (авторские знаки препинания при этом большей частью сохранены): Шварц, по свидетельствам близко знавших ее людей, достаточно свободно относилась к пунктуации в своих текстах, оставляя окончательное решение редакторам, когда речь шла о поздних печатных книгах. Выражаем благодарность В. Авдеенко, К. Козыреву, Э. Липпа за помощь в работе.</p>
    <p class="prose__signature">Павел Успенский и Артем Шеля</p>
  </section>
  {% endif %}

  <section>
    <h2 class="section-title">Оглавление</h2>
    <ol class="edition-contents">
      {% for item in titles %}
      <li><a href="{{ url_for('edition_text', slug=slug, ID=item.ID) }}">{{ item.title }}</a></li>
      {% endfor %}
    </ol>
  </section>
</div>
{% endblock %}
