<!DOCTYPE html>
{% extends "base.html" %}

{%block content%}
<html>
  <head><title>В разработке</title></head>
  <body>
	  <main class='main'>
  	<div class=row>
		
		
		<div class=col>
			<img class="other" src="../static/img/other.png" alt="ES">
		</div>
		<div class=col>
			<p class="other_text">Пока здесь пусто</p>
			<div>
				<button class="other_buttons" onclick="goBack()">Вернуться на предыдущую страницу</button>
			</div>
	

		</div>
 	</div> 

	  </main>
  </body>
</html>

{%endblock%}


