<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html>
<head><title> Тексты из сборников </title> </head>

<body>
 <main class="main">
      <nav class="main__nav">
        <ul class="main__nav-list">
          <li class="main__nav-list-item">
            <a class="main__nav-link" href="#collection">О сборнике</a>
          </li>
          <li class="main__nav-list-item">
            <a class="main__nav-link" href="#contenst">Оглавление</a>
          </li>
           <a href="#" title="Вернуться к началу страницы" id="up">&#8679</a>
        </ul>
      </nav>
      <section class="main__content">

	<div class='name_of_edition'>
		
			<h2 class="main__title" id ='collection'>Танцующий Давид

			</h2></div>

	<!-- <div class='main_title'>

		<h2 class="main__title" >От составителей</h2>

			<p class="main__text">Основой для этой книги послужила «зеленая тетрадь» – машинописный сборник из архива Е.А. Шварц, составленный поэтом в феврале 1973 года (дата стоит на титуле). Неопубликованные стихи из машинописного сборника были дополнены другими неизданными текстами середины 1960-1970-х гг. из архива поэта.</p>
			<p class="main__text">Стихотворения публикуются в хронологическом порядке. Датировки некоторых стихов из «зеленой тетради» уточнены по отдельным машинописным копиям. Однако многие тексты остались недатированными, поскольку другие источники этих стихотворений, кроме машинописного сборника, не сохранились. В этом случае достоверно можно говорить только о верхней границе датировки – февраль 1973 года.</p>
			<p class="main__text">Большинство стихотворений воспроизводится по машинописному сборнику. От этого принципа мы отходили только в тех случаях, когда находилась машинопись, сделанная позже 1973 года. В одном случае мы восстановили наиболее полную раннюю редакцию, чтобы не упустить еще одно неопубликованное стихотворение: в состав «зеленой тетради» был включен только первый текст из «Двух стихотворений об Ангеле-Хранителе».</p>
			<p class="main__text">Пунктуация стихотворений приведена к современной норме (авторские знаки препинания при этом большей частью сохранены): Шварц, по свидетельствам близко знавших ее людей, достаточно свободно относилась к пунктуации в своих текстах, оставляя окончательное решение редакторам, когда речь шла о поздних печатных книгах. Выражаем благодарность В. Авдеенко, К. Козыреву, Э. Липпа за помощь в работе.</p>
			<p class="signature">Павел Успенский и Артем Шеля</p>
	</div> -->

<div>
	<h2 class="main__title" id='contenst'>Оглавление</h2>
{% for item in titles %}

<pre><a class="titles__poem" href='/tanz_david_text_{{item.ID}}/'>{{item.title}}</a></pre>
{% endfor %}
</div>
</section>
</main>
</body>
</html>
{% endblock %}
        