<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html>
  <head><title>Произведения</title></head>
    <body>
      <main class="main">
        
        <nav class="main__nav">
          <ul class="main__nav-list">
            <li class="main__nav-list-item">
              <a class="main__nav-link" href="/list_of_texts">Стихотворения</a>
            </li>
            <li class="main__nav-list-item">
              <a class="main__nav-link" href="/other">Поэмы</a>
            </li>
            <li class="main__nav-list-item">
              <a class="main__nav-link" href="/other">Проза</a>
            </li>
            <li class="main__nav-list-item">
              <a class="main__nav-link" href="/other">Переводы</a>
            </li>

              <a href="#" title="Вернуться к началу страницы" id="up">&#8679</a>
          </ul>
        </nav>

    <section class="main__content">
      <h1 class="main__title" id='time_period'>Стихотворения</h1>

      <form class='search-box'>
        <input id='search-input' class="for_search" type='text' name='search' id='inlineFormInputGroupUsername5' placeholder='Поиск по слову'/>
        <button type='submit' class='other_buttons' id='process_input'>Искать</button>
      </form>
      
      <ul class="titles__periods">
        <li class="main__nav-list-item">
          <a class="main__nav-link" id="all" href="#">Все тексты</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id="sixties" href="#">1960-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id="seventies" href="#">1970-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id='eighties' href="#">1980-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id='nineties' href="#">1990-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id='millenial' href="#">2000-е</a>
        </li>
      </ul>
  
      <div class="titles__poems">
          <div id=result>

            <h3 class='year'></h3>
                <pre><a class="titles__poem" href='/texts_/'></a></pre>
          </ul>
      </div>
    </section>
  </main>

</body>
</html>
{% endblock %}