<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
<html>
<head>
<title>Произведения</title>
</head>
<body>
  <main class="main">
    <nav class="main__nav">
      <ul class="main__nav-list">
        <li class="main__nav-list-item">
          <a class="main__nav-link" href="/list_of_texts">Стихотворения</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" href="/other">Поэмы</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" href="/other">Проза</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" href="/other">Переводы</a>
        </li>


        <form class='search-box'>
          <input id='search-input' class="for_search" type='text' name='search' id='inlineFormInputGroupUsername5' placeholder='Поиск по слову'/>
          <div><button type='submit' class='other_buttons' id='process_input'>Искать</button></div>
        </form>
          <a href="#" title="Вернуться к началу страницы" id="up">&#8679</a>
      </ul>

    </nav>

    <section class="titles">
      <ul class="titles__periods">
        <li class="main__nav-list-item">
          <a class="main__nav-link" id="all" href="/list_of_texts">Все тексты</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id="sixties" href="#">1960-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id="seventies" href="/other">1970-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id='eighties' href="/other">1980-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id='nineties' href="/other">1990-е</a>
        </li>
        <li class="main__nav-list-item">
          <a class="main__nav-link" id='millenial' href="/other">2000-е</a>
        </li>
      </ul>
  
      <div class="titles__poems">

        <form>
          <h1 id='time_period'>Стихотворения</h1>
          <div id=result>

            <h3 class='year'>1962</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1962 %}  
                <pre class="titles__poem"> <a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
                {% endif %}
              {% endfor %}
            </div>

            <h3 class='year'>1963</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1963 %}
                  <pre class="poems"><a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
                {% endif %}
              {% endfor %}
            </div>

            <h3 class='year'>1964</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1964 %}
                  <pre class="poems"><a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
                {% endif %}
              {% endfor %}
            </div>

            <h3 class='year'>1965</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1965 %}
                  <pre class="poems"> <a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
                {% endif %}
              {% endfor %}
            </div>

            <h3 class='year'>1966</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1966 %}              
                  <pre class="poems">  <a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre> 
                {% endif %}
              {% endfor %}
            </div>

            <h3 class='year'>1967</h3>
            <div class="block_of_poems">
            {% for item in titles %}
              {% if item.meta.date_written == 1967 %}
                <pre class="poems"> <a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
              {% endif %}
            {% endfor %}
            </div>

            <h3 class='year'>1968</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1968 %}
                  <pre class="poems"> <a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
                {% endif %}
              {% endfor %}
            </div>

            <h3 class='year'>1969</h3>
            <div class="block_of_poems">
              {% for item in titles %}
                {% if item.meta.date_written == 1969 %}
                  <pre class="poems">  <a class="titles__poem" href='/texts_60_{{item.ID}}/'>{{item.title}}</a></pre>
                {% endif %}
              {% endfor %}
            </div>

          </ul>
        </form>
      </div>
    </section>
  </main>

</body>
</html>
{% endblock %}